.resume-section {
		text-align: center;
}

.hobbies-heading {
		text-align: center;
}

.hobbies-description {
		text-align: center;
}

.awards-heading {
		text-align: center;
}

.awards-presenter {
		text-align: center;
}